@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/**
 * Reset CSS
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Déclaration des couleurs
 */
:root {
    --backgroundColor: #F5F3EF;
    --titleColor: #000000;
    --textColor: #000000;
    --buttonDefaultColor: #00AC66;
    --headerColor: #000;
    --headerPaleColor: #ccc;
    --commentColor: #ddd;
    --commentPaleColor: #eee;
    --quoteColor: #aaa;
    --dateColor: #888;
}

/**
 * Valeur par défaut pour le body
 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
    background-color: var(--backgroundColor);
}

/**
 * Styles pour les titres
 */
h1 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-style: italic;
    font-size: 80px;
    color: var(--titleColor);
}

h2 {
    width: 100%;
    margin: 20px 0;
    font-size: 25px;
    color: var(--headerColor);
}

/**
 * Styles généraux
 */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/**
 * Styles pour l'en-tête (header)
 */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--backgroundColor);
}

/* Styles généraux pour la navigation */
.main-nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--backgroundColor);
    padding: 0 20px;
}

.nav-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 155px;
    height: 51px;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-group {
    display: flex;
    gap: 20px;
}

.nav-group--left {
    margin-left: 48px;
}

.nav-group--right {
    margin-left: auto;
    /* pousse le groupe à droite */
}

.nav-link {
    font-size: 14px;
    color: var(--textColor);
    text-decoration: none;
    font-family: 'inter';
}

.nav-link:hover {
    text-decoration: underline;
}

/**
 * Styles pour le titre du site
 */
.site-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    color: #00AC66;
    /* Couleur verte */
    text-align: center;
    margin: 10px 0;
}

/**
 * Styles pour le titre du site
 */
.site-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #00AC66;
    text-align: center;
    margin: 10px 0;
}

/**
 * Styles pour le corps principal de la page
 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin: 0 50px 100px 50px;
}

/**
 * Styles des formulaires
 */
form {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    color: white;
    background-color: var(--commentPaleColor);
}

form h2 {
    margin: 0 0 20px 0;
}

form label {
    font-weight: bold;
    font-size: 14px;
}

form input,
form textarea {
    padding: 5px;
    border: none;
}

form textarea {
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

form .formGrid {
    display: grid;
    grid-template-columns: 100px minmax(0, 1fr);
    gap: 10px;
}

form .formGrid .submit {
    grid-column: 2;
    grid-row: 3;
}

.submit {
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: var(--commentColor);
    border: none;
}

/**
 * Styles pour le coin replié des formulaires
 */
.foldedCorner {
    position: relative;
    overflow: hidden;
}

.foldedCorner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 30px;
    border-style: solid;
    border-color: var(--backgroundColor) var(--backgroundColor) var(--commentColor) var(--commentColor);
}

/**
 * Styles pour la liste des livres
 */
.bookList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bookList book {
    width: 30%;
}

book {
    margin-bottom: 30px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

book h2 {
    color: var(--headerColor);
    font-size: 24px;
}

.bookList book:hover h2 {
    color: var(--titleColor);
}

book .quotation {
    float: left;
    height: 51px;
    margin-left: -10px;
    line-height: 0.35;
    font-weight: bold;
    font-size: 103px;
    color: var(--quoteColor);
}

.bookList book:hover .quotation {
    color: var(--commentPaleColor);
}

book p {
    margin-bottom: 10px;
    font-style: italic;
    font-size: 15px;
}

book .footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.info {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: var(--dateColor);
}

.bookList book:hover .info {
    color: var(--commentPaleColor);
}

a.info {
    font-style: normal;
}

/**
 * Styles pour la page de détail d'un livre
 */
.mainbook .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/**
 * Styles pour la page d'erreur
 */
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.error h2 {
    color: var(--titleColor);
}

.error a {
    margin: 20px;
    color: var(--headerColor);
    font-weight: bold;
}

/**
 * Styles pour la partie administration
 */
.adminbook {
    margin-bottom: 20px;
    background-color: var(--commentPaleColor);
    color: white;
}

.bookLine {
    display: flex;
}

.bookLine div {
    display: flex;
    align-items: center;
}

.bookLine .title {
    font-weight: bold;
    min-width: 200px;
    width: 200px;
}

.bookLine .content {
    flex-grow: 1;
}

.bookLine>div {
    padding: 20px;
    border: 1px solid var(--backgroundColor);
}

/**
 * Footer global de la page
 */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: var(--headerColor);
}