/** * Styles mon compte * **/
.account-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 45px;
  padding: 0 150px;
}

.account-title {
  right: 20px;
}

.account-card {
  flex: 1;
  background-color: #ffffff;
  width: 547px;
  height: 508px;
  padding: 60px 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  min-height: 451px;
  min-width: 547px;
}
.profile-card,
.info-card {
  max-width: 548px;
}
/* Text styles within the account card */
.account-card p {
  margin: 20px 0;
}
.account-profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.account-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/** * Button styles * **/
.profile-link {
  color: #a6a6a6;
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  background: none;
  border: none;
  margin-top: 10px;
}

button {
  background-color: #f5f3ef;
  color: #00ac66;
  border: 1px solid #00ac66;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 150px;
  height: 63px;
}

button:hover {
  background-color: #ddd; /* Gris légèrement plus clair au survol */
}

#submitButton {
  display: none;
}
form input[type="email"],
form input[type="password"],
form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  font-size: 14px;
  background-color: #edf2f6;
}
.info-member {
  margin-top: 40px;
}
.info-name {
  font-weight: 400;
  font-size: 24px;
}
.member {
  font-size: 14px;
  color: #a6a6a6;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Inter";
}
.library-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.library-info img {
  width: 10.41px;
  height: 13.71px;
}
.library-info span {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
}
.bibliotheque-title {
  font-family: "Inter", sans-serif;
  font-size: 8px;
  font-weight: 600;
  line-height: 9.68px;
  text-align: center;
}

.books-section {
  margin-top: 20px;
}
/** * table books * **/
.table-books {
  width: 100%;
  border-collapse: collapse;
}

.table-books th,
.table-books td {
  padding: 8px;
  text-align: left;
}

.table-books {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
}

.table-books th,
.table-books td {
  padding: 20px;
  text-align: left;
  font-size: 12px;
}

.table-books th {
  text-transform: uppercase;
}

.table-books img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.table-books a {
  transition: color 0.3s;
}
.table-books tr:nth-child(even) {
  background-color: #edf2f6;
}
/* .table-books a:hover {
  color: #0056b3;
} */

.available {
  background-color: #6dc5a1;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.not-available {
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.edit-link {
  color: black; /* Texte noir */
  text-decoration: underline; /* Souligné */
}

.delete-link {
  color: red; /* Texte rouge */
  text-decoration: underline; /* Souligné */
}
