/* Styles pour la page de midification d'un livre */
.book-edit-container,
.book-detail {
  background: var(--wrapperColor);
  margin-top: 20px;
}

.book-edit-container {
  background-color: var(--containerColor);
  font-family: Arial, sans-serif;
}

.book-layout,
.book-edit-content {
  display: flex;
}

.book-edit-content {
  gap: 40px;
}

.book-image-container,
.book-image-section {
  flex: 1;
}

.book-content,
.book-form-section {
  flex: 1;
  margin: 40px 20px 0 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/* .book-form-section {
  flex: 2;
} */

/* Styles pour l'image du livre */
.book-image,
.book-image-section img {
  width: 100%;
}

/* Styles pour le titre et l'auteur */
.book-title,
.edit-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--grayColor);
}

.book-title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 400;
}

.book-author {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--grayColor);
}
.book-author::after {
  content: "";
  display: block;
  width: 27px;
  border: 1px solid var(--grayColor);
  margin-top: 20px;
}
.book-description-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.book-description-content {
  font-size: 14px;
  font-weight: 400;
}

/* Styles pour les informations du propriétaire */
.owner-info {
  display: flex;
  align-items: center;
  background-color: var(--containerColor);
  border: 1px solid var(--lightGrayColor);
  padding: 15px;
  border-radius: 114px;
  margin: 20px 0;
  max-width: 100%;
}

.owner-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.owner-photo.placeholder {
  background-color: var(--backgroundColor);
  display: inline-block;
}

.owner-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--darkGrayColor);
}

.owner-title {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.owner-info {
  width: auto;
  height: 60px;
  border-radius: 114px;
  padding: 6px 17px;
  display: flex;
  align-items: center;
}

.owner-name {
  font-size: 14px;
  font-weight: 400;
}


/* Styles pour le formulaire d'édition */
.edit-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--lightGrayColor);
  border-radius: 4px;
}

.form-textarea {
  height: 100px;
  resize: vertical;
}

/* Styles pour les boutons */
.back-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.submit-button {
  padding: 10px 20px;
  background-color: var(--buttonDefaultColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: var(--buttonHoverColor);
}

/* Styles pour l'upload d'image */
.image-upload {
  margin-top: 10px;
}

.upload-label {
  display: block;
  margin-bottom: 5px;
}

.file-input {
  width: 100%;
}

/* Styles pour le badge de disponibilité */
.availability-badge {
  position: absolute;
  top: 12.7px;
  left: 119px;
  padding: 3.96px;
  border-radius: 23.67px;
  background: #c56d6d;
  color: var(--whiteColor);
  opacity: 1;
  width: 68.3px;
  height: 14.92px;
  font-family: "Inter", sans-serif;
  font-size: 7.1px;
  font-weight: 500;
  line-height: 8.59px;
  text-align: center;
}

/* Styles pour les cases à cocher */
.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-checkbox {
  margin-right: 10px;
}
