/** * Page nos livres à l'échange * **/
/*styles pour la barre de recherche*/
.search-container {
    display: flex;
    width: 322px;
    height: 50px;
    background-color: var(--whiteColor);
    border-radius: 6px;
    overflow: hidden;
    margin: 20px;
}

.search-icon {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon i {
    font-size: 14px;
    color: var(--grayColor);
}

.search-container input[type="text"] {
    border: none;
}

.search-container input[type="text"]::placeholder {
    color: var(--grayColor);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

/* Input styles */
form input[type="email"],
form input[type="password"],
form input[type="text"] {
    width: 322px;
    border: 1px solid var(--lightGrayColor);
    border-radius: 6px;
    font-size: 14px;
    background-color: var(--whiteColor);
}

/** * Style filtre * */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

form label {
    font-weight: bold;
    color: var(--darkGrayColor);
}

/* form input[type="email"],
form input[type="password"],
form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--lightGrayColor);
    border-radius: 5px;
    font-size: 14px;
} */

