footer {
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--blackColor);
    background-color: var(--whiteColor);
    gap: 10px;
}

footer a,
footer img {
    margin-bottom: 0;
    margin-right: 20px;
}

footer img {
    width: 120px;
    height: auto;
}