header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--backgroundColor);
}

/** * Styles navigation * **/
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 10px 20px;
}

.nav-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-group {
    display: flex;
}

.nav-group--left {
    margin-right: auto;
}

.nav-group--right {
    margin-left: auto;
}

.nav-link {
    font-family: 'Inter';
    font-size: 12px;
    text-align: left;
    color: var(--textColor);
    padding: 10px 20px;
    position: relative;
    display: inline-block;
}

.nav-link:hover {
    font-weight: 400;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 155px;
    height: 51px;
}

/** * styles hamburger * **/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: var(--grayColor);
}

/** * styles menu * **/
.menu {
    display: none;
    flex-direction: column;
    background-color: var(--buttonDefaultColor);
}

.menu.active {
    display: flex;
}

/** * Styles pour la bulle des messages non lus * **/
.messagerie-link {
    position: relative;
}

.unread-bubble {
    background-color: var(--blackColor);
    width: 10.5px;
    height: 15px;
    color: var(--whiteColor);
    border-radius: 50%;
    font-size: 8.25px;
    padding: 2px 2px;
    position: absolute;
}