
/** * Styles pour la section d'introduction * **/
.intro-container {
    align-content: center;
    margin: 20px 0;
}

/** * Styles pour la liste des livres * **/
.book-list {
    background-color: var(--backgroundColor);
    padding: 40px 20px;
    display: contents;
}
.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--headerColor);
}
.books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.book-card {
    width: 200px;
    height: 324px;
    background-color: var(--PaleColor);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    position: relative;
}
.text-book-card {
    margin: 10px;
}
.book-card:hover {
    transform: translateY(-10px);
}
.book-card h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--headerColor);
}
.book-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
.book-card p {
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    margin-bottom: 8px;
}
.book-card .info {
    font-weight: bold;
    color: var(--buttonDefaultColor);
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
    display: block;
}

/** * style pour la section how it works * **/
.how-it-works {
    text-align: center;
    margin: 50px 0;
}
.section-title {
    font-size: 2em;
    margin-bottom: 20px;
}
.intro-text {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.steps-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.step-box {
    width: 215px;
    height: 139px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    color: #333;
}

/** * Styles pour la section nos valeurs * **/
.values-section {
    padding: 40px 20px;
    background-color: #F5F3EF;
    position: relative;
}
.banner-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.values-content {
    max-width: 392px;
    margin: 0 auto;
    position: relative;
}
.values-title {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 42.66px;
    margin-bottom: 20px;
}
.values-paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    margin-bottom: 20px;
    color: #333;
}
.values-signature {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14.52px;
    margin-top: 40px;
    color: #333;
}
.values-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}