.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** * Styles pour le bouton * **/
.btn {
  display: inline-block;
  width: auto;
  padding: 22px 38px; /* Espacement interne par défaut */
  border-radius: 10px;
  background-color: var(--buttonDefaultColor); /* Couleur de fond par défaut */
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff; /* Couleur du texte par défaut */
  border: none;
  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s ease; /* Ajout de la transition pour le fond */
  margin: 20px auto; /* Marge automatique pour centrer */
}

.btn:hover {
  opacity: 0.8; /* Opacité au survol */
}

/* Nouveau style pour le bouton discret */
.btn.discreet-btn {
  background-color: transparent; /* Fond transparent */
  color: #555; /* Texte en gris foncé */
  border: 1px solid #ccc; /* Bordure grise claire */
  padding: 8px 16px; /* Espacement interne ajusté pour le bouton discret */
  border-radius: 4px; /* Coins légèrement arrondis */
}

.btn.discreet-btn:hover {
  background-color: #f0f0f0; /* Fond gris clair au survol */
  color: #333; /* Texte plus foncé au survol */
}

/* Styles spécifiques pour le bouton "Voir tous les livres" */
.btn.view-all-books {
  width: 218px;
  height: 63px;
  padding: 22px 38px; /* Espacement interne spécifique */
  border-radius: 10px;
  border: 1px solid var(--buttonDefaultColor);
  background-color: #f5f3ef; /* Couleur de fond spécifique */
  opacity: 1;
  color: var(--buttonDefaultColor); /* Couleur du texte spécifique */
  font-size: 16px; /* Taille de police spécifique */
  font-weight: 600; /* Épaisseur de police spécifique */
}

.btn.view-all-books:hover {
  background-color: #e2e0da; /* Couleur de fond au survol spécifique */
  border-color: #008c4f; /* Couleur de bordure au survol spécifique */
}
