/** Section messagerie **/
.messenger-container {
    display: flex;
    padding: 20px;
    background-color: var(--backgroundColor);
}

.sidebar {
    flex: 1;
    max-width: 350px;
    background-color: var(--wrapperColor);
    border-radius: 8px;
    padding: 20px 0px 0px 30px;
    margin-right: 20px;
}

.chat-section {
    flex: 2;
    background-color: var(--backgroundColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Titre de la messagerie */
.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--grayColor);
}

/* Liste des conversations */
.conversations {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conversation {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--lightGrayColor);
    border-radius: 6px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.conversation:hover {
    background-color: var(--backgroundColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.conversation-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.conversation-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.conversation-info .name {
    font-weight: bold;
    font-size: 16px;
    color: var(--grayColor);
}

.conversation-info .timestamp {
    font-size: 12px;
    color: var(--grayColor);
}

.conversation .description {
    font-size: 14px;
    color: var(--darkGrayColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* Nouveau message */
.conversation.unread-message {
    background-color: #e6f2ff;
    /* Couleur bleue claire */
    border-left: 4px solid #007bff;
    /* Bordure bleue à gauche */
    font-weight: bold;
}

.conversation.unread-message:hover {
    background-color: #d1e8ff;
    /* Couleur bleue plus foncée au survol */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Section de chat */
.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--lightGrayColor);
}

.chat-user-info {
    display: flex;
    align-items: center;
}

.chat-user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-title {
    font-weight: bold;
    font-size: 18px;
}

.messages-container {
    padding: 3px 0 0 20px;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.message.sent {
    align-self: flex-end;
    background-color: var(--backgroundColor);
    text-align: right;
}

.message.received {
    align-self: flex-start;
    background-color: var(--backgroundColor);
    text-align: left;
}

.message.received img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    top: -15px;
    left: -15px;
}

.message-content {
    word-wrap: break-word;
}

.message-footer {
    font-size: 0.75rem;
    color: var(--darkGrayColor);
    margin-top: 5px;
}

.chat-footer {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.chat-footer input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--lightGrayColor);
    border-radius: 5px;
    margin-right: 10px;
}

.chat-footer button,
.message-button {
    background-color: var(--buttonDefaultColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.chat-footer button:hover,
.message-button:hover {
    background-color: var(--buttonHoverColor);
}

/* Scrollbar personnalisée */
.messages-container::-webkit-scrollbar {
    width: 8px;
}

.messages-container::-webkit-scrollbar-track {
    background: var(--backgroundColor);
}

.messages-container::-webkit-scrollbar-thumb {
    background-color: var(--grayColor);
    border-radius: 10px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
    background: var(--darkGrayColor);
}