@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--backgroundColor);
    width: 100%;
  }


  /* .btn {
    width: 152px;
    margin: 0;
  } */

  .nav-group {
    flex-direction: row;
    padding: 0;
  }

  .nav-group--left {
    margin-left: 4px;
  }

  .nav-group--right {
    margin-left: auto;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 20px;
  }

  .nav-link:hover {
    font-weight: bolder;
  }

  /** * Styles pour la section d'introduction * **/
  .intro-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .intro-wrapper {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
  }

  .intro-text {
    padding-bottom: 30px;
  }

  /*style search bar */
  .search-wrapper {
    display: flex;
    flex-direction: row;
    margin: 20px 44px;
    justify-content: space-around;

  }

  .account-info {
    flex-direction: column;
  }


}

/** * Styles pour mon compte * **/


/** * Styles pour le footer * **/
footer {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

footer a,
footer img {
  margin-bottom: 0;
  margin-right: 20px;
}

footer a:last-child,
footer img:last-child {
  margin-right: 0;
}