:root {
  --whiteColor: white;
  --backgroundColor: #f5f3ef;
  --wrapperColor: #faf9f7;
  --containerColor: #f9f9f9;
  --lightGrayColor: #f0f0f0;
  --headerPaleColor: #ccc;
  --lightblueColor: #EDF2F6;
  
  --quoteColor: #aaa;
  --grayColor: #a6a6a6;
  --dateColor: #888;
  --darkGrayColor: #555;
  --greenColor: #6dc5a1;
  --buttonDefaultColor: #00ac66;
  --buttonHoverColor: #006d41;
  --lightRedColor: #c56d6d;
  --redColor: red;
  --textColor: #292929;
  --grayColor: #333;
  --titleColor: #000000;
  --headerColor: #000;
  --blackColor: #000000;
}
