:root {
    --backgroundColor: #F5F3EF;
    --titleColor: #000000;
    --textColor: #000000;
    --buttonDefaultColor: #00AC66;
    --headerColor: #000;
    --headerPaleColor: #ccc;
    --hamburgerColor: #A6A6A6;
    --PaleColor: white;
    --quoteColor: #aaa;
    --dateColor: #888;
}